conf/application.conf
conf/c3p0.properties
conf/catalina.properties
conf/rpm-version.txt
conf/toggle.conf
idea
.gradle
build
*.iml
*.DS_Store
dependencies.lock
dataservices-data-editor-service.ipr
dataservices-data-editor-service.iws
out
/test/
projectFilesBackup
target
bdd/.gradle
bdd/build
bdd/logs
bdd/bdd.iml
loadtest/build/
loadtest/.gradle
data-editor-service.iml
data-editor-service.ipr
data-editor-service.iws
bdd/quarantine.lst
bdd/tests.config.json
loadtest.iml
data_editor/
/.idea/
/logs/
spark-assembly-lib
kamon-lib
protobuf24-lib
native
wddata
DEF0000000000006
app/rpm-script/install/sources/change-log/git-change-log-cloudloader-shared.json
app/rpm-script/install/sources/change-log/git-change-log-data-editor-shared.json
app/rpm-script/install/sources/change-log/git-change-log-data-hub.json
app/rpm-script/install/sources/change-log/jira-change-log-cloudloader-shared.json
app/rpm-script/install/sources/change-log/jira-change-log-data-editor-shared.json
app/rpm-script/install/sources/change-log/jira-change-log-data-hub.json
src/main/resources/rpm-version.txt

